<div class="container">
  <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
    <a
      (click)="pageDown()"
      class="pagination-previous"
      [attr.disabled]="isDisabled(currentPage, 'previous')"
      >Previous</a
    >
    <a
      (click)="pageUp()"
      class="pagination-next"
      [attr.disabled]="isDisabled(currentPage, 'next')"
      >Next page</a
    >
    <ul class="pagination-list">
      <ng-container *appTimes="images.length; let i = index">
        <li *ngIf="checkWindowIndex(i)">
          <a
            (click)="currentPage = i"
            [ngClass]="isCurrentPage(i, currentPage)"
            class="pagination-link"
            >{{ i + 1 }}</a
          >
        </li>
      </ng-container>
    </ul>
  </nav>
  <div class="is-centered">
    <h4 class="title">{{ images[currentPage].title }}</h4>
    <figure class="image">
      <img [src]="images[currentPage].url" />
    </figure>
  </div>

</div>
